# Config for Dependabot updates. See Documentation here:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Update Github actions in workflows
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: daily
  - package-ecosystem: pip
    directory: "/{{ cookiecutter.project_slug }}/requirements"
    schedule:
      interval: daily
