{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Verify Your Email Address" %}{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-background">
    <c-card class='w-[400px]'>
        <c-card.header>
            <c-card.title>{% trans "Verify Your Email Address" %}</c-card.title>
            <c-card.description>
                {% trans "This part of the site requires you to verify your email address." %}
            </c-card.description>
        </c-card.header>

        <c-card.content class='space-y-4'>
            <c-alert>
                <c-alert.description>
                    {% trans "We have sent you an email with a verification link. Please check your inbox." %}
                </c-alert.description>
            </c-alert>
        </c-card.content>

        <c-card.footer class='flex flex-col space-y-3'>
            <c-button onclick="window.location.href='{% url 'account_email' %}'" class="w-full">
                {% trans "Manage Email Addresses" %}
            </c-button>
        </c-card.footer>
    </c-card>
</div>
{% endblock %}
