.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv
.git
.envs/
.env
.certificates/
staticfiles/
{{ cookiecutter.project_slug }}/media/
