DJANGO_SETTINGS_MODULE=config.settings.local
DATABASE_URL=sqlite:///{{cookiecutter.project_slug}}.db
#DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
MAILERSEND_API_TOKEN=
TURNSTILE_SITEKEY=
TURNSTILE_SECRET=