*.py[cod]
*.pyc

# C extensions
*.so

# Logs
*.log

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# Django
local_settings.py
repo_name

*.log
*.pot
*.pyc
local_settings.py
repo_name

