language: python

before_install:
  - time pip install pep8

script:
  - pep8 --ignore E201,E202 --max-line-length=120 --exclude='migrations' .

notifications:
  email:
    on_success: never
    on_failure: never
