cookiecutter==1.7.3
sh==1.14.2
binaryornot==0.4.4

# Code quality
# ------------------------------------------------------------------------------
black==21.5b2
isort==5.8.0
flake8==3.9.2
flake8-isort==4.0.0
pre-commit==2.13.0

# Testing
# ------------------------------------------------------------------------------
tox==3.23.1
pytest==5.4.3  # pyup: <6  # https://github.com/hackebrot/pytest-cookies/issues/51
pytest-cookies==0.5.1
pytest-instafail==0.4.2
pyyaml==5.4.1

# Scripting
# ------------------------------------------------------------------------------
PyGithub==1.55
jinja2==2.11.3
