cookiecutter==2.1.1
sh==1.14.2
binaryornot==0.4.4

# Code quality
# ------------------------------------------------------------------------------
black==22.6.0
isort==5.10.1
flake8==4.0.1
flake8-isort==4.1.1
pre-commit==2.19.0

# Testing
# ------------------------------------------------------------------------------
tox==3.25.0
pytest==7.1.2
pytest-cookies==0.6.1
pytest-instafail==0.4.2
pyyaml==6.0

# Scripting
# ------------------------------------------------------------------------------
PyGithub==1.55
gitpython==3.1.27
jinja2==3.1.2
requests==2.28.0
