{% raw %}{% load i18n %}

<nav aria-label="{% translate 'Main navigation' %}">
  <ul>
    <li>
      <a href="{% url 'home' %}"><strong>{% endraw %}{{ cookiecutter.project_name }}{% raw %}</strong></a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="{% url 'home' %}"
         {% if request.resolver_match.url_name == 'home' %}aria-current="page"{% endif %}>{% translate "Home" %}</a>
    </li>
    <li>
      <a href="{% url 'about' %}"
         {% if request.resolver_match.url_name == 'about' %}aria-current="page"{% endif %}>{% translate "About" %}</a>
    </li>
    {% if request.user.is_authenticated %}
      <li>
        <a href="{% endraw %}{% if cookiecutter.username_type == "email" %}{% raw %}{% url 'users:detail' request.user.pk %}{% endraw %}{% else %}{% raw %}{% url 'users:detail' request.user.username %}{% endraw %}{% endif %}{% raw %}">{% translate "My Profile" %}</a>
      </li>
      <li>
        {# URL provided by django-allauth/account/urls.py #}
        <a href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
      </li>
    {% else %}
      {% if ACCOUNT_ALLOW_REGISTRATION %}
        <li>
          {# URL provided by django-allauth/account/urls.py #}
          <a id="sign-up-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
        </li>
      {% endif %}
      <li>
        {# URL provided by django-allauth/account/urls.py #}
        <a id="log-in-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
      </li>
    {% endif %}
  </ul>
</nav>
{%- endraw %}
