www.{% raw %}{$DOMAIN_NAME}{% endraw %} {
    redir https://{% raw %}{$DOMAIN_NAME}{% endraw %} {
}

{% raw %}{$DOMAIN_NAME}{% endraw %} {
    proxy / django:5000 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
    log stdout
    errors stdout
    gzip
}
