{% raw %}{% load allauth %}

{% if attrs.type == "textarea" %}
  <label for="{{ attrs.id }}">
    {% slot label %}
    {% endslot %}
  </label>
  <textarea {% if attrs.required %}required{% endif %}
            {% if attrs.rows %}rows="{{ attrs.rows }}"{% endif %}
            {% if attrs.disabled %}disabled{% endif %}
            {% if attrs.readonly %}readonly{% endif %}
            {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
            {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
            {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
            {% if attrs.errors %}aria-invalid="true"{% endif %}>{% slot value %}{% endslot %}</textarea>
{% elif attrs.type == "checkbox" or attrs.type == "radio" %}
  <label for="{{ attrs.id }}">
    <input {% if attrs.required %}required{% endif %}
           {% if attrs.disabled %}disabled{% endif %}
           {% if attrs.readonly %}readonly{% endif %}
           {% if attrs.checked %}checked{% endif %}
           {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
           {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
           {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
           {% if attrs.errors %}aria-invalid="true"{% endif %}
           type="{{ attrs.type }}" />
    {% slot label %}
    {% endslot %}
  </label>
{% else %}
  <label for="{{ attrs.id }}">
    {% slot label %}
    {% endslot %}
  </label>
  <input {% if attrs.required %}required{% endif %}
         {% if attrs.disabled %}disabled{% endif %}
         {% if attrs.readonly %}readonly{% endif %}
         {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
         {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
         {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
         {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
         {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
         {% if attrs.errors %}aria-invalid="true"{% endif %}
         type="{{ attrs.type }}" />
{% endif %}
{{ attrs.errors }}
{% if slots.help_text %}
  <small>
    {% slot help_text %}
    {% endslot %}
  </small>
{% endif %}
{%- endraw %}
