{% extends "base.html" %}

{% block title %}Forbidden (403){% endblock title %}
{% block content %}
  <div class="py-6">
    <c-card class="mx-auto w-full max-w-2xl">
      <c-card.header>
        <c-card.title>Forbidden (403)</c-card.title>
        <c-card.description>
          {% if exception %}
            {{ exception }}
          {% else %}
            You're not allowed to access this page.
          {% endif %}
        </c-card.description>
      </c-card.header>
    </c-card>
  </div>
{% endblock content %}
