{% extends "base.html" %}

{% block title %}Page not found{% endblock title %}
{% block content %}
  <div class="py-6">
    <c-card class="mx-auto w-full max-w-2xl">
      <c-card.header>
        <c-card.title>Page not found</c-card.title>
        <c-card.description>
          {% if exception %}
            {{ exception }}
          {% else %}
            This is not the page you were looking for.
          {% endif %}
        </c-card.description>
      </c-card.header>
    </c-card>
  </div>
{% endblock content %}
