<c-vars default_open="false"></c-vars>

<div
  x-data="{
    open: {{ default_open|lower }},

    showSheet() {
      this.open = true;
      document.body.classList.add('overflow-hidden');
    },

    hideSheet() {
      this.open = false;
      document.body.classList.remove('overflow-hidden');
    }
  }"
  x-init="
    $watch('open', value => {
      if (value) {
        document.body.classList.add('overflow-hidden');
      } else {
        document.body.classList.remove('overflow-hidden');
      }
    })
  "
  @show-sheet.window="showSheet()"
  @keydown.escape.window="if (open) hideSheet()"
  {{ attrs }}
>
  {{ slot }}
</div>
