{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
        <h1>{% trans "Change Password" %}</h1>
        
        <form method="POST" action="" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}
