name: Update Contributors

on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  build:
    # Disables this workflow from running in a repository that is not part of the indicated organization/user
    if: github.repository_owner == 'cookiecutter'
    permissions:
      contents: write # for stefanzweifel/git-auto-commit-action to push code in repo

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Update list
        run: python scripts/update_contributors.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5.0.0
        with:
          commit_message: Update Contributors
          file_pattern: CONTRIBUTORS.md .github/contributors.json
